/* // Small devices (landscape phones, 576px and ) */
@media (max-width: 576px) {
    .content-data{
        margin-top: 0%;
    }
    .Soy{
        font-size: 2.1rem;
        padding-bottom: 0.1rem;
    }

    .Paula{
        border-top: none;
        border-bottom: 0.2rem solid white;
        width: 11.5rem;
        font-size: 4.4rem;
    }
    .Marketing-D{
        font-size: 1.5rem;
        font-weight: 100;
    }
    .años{
        font-size: 1.8rem;
        right: 8%;
    }
    .imagen{
       height: 32.1rem;
       width: 30.4rem ;
    }
    .accounts{
        width: 85%;
    }
    .accounts-icons{
        height: 3rem;
        width: 6rem;
    }
    .icon{
        height: 2.5rem;
        width: 2.5rem;
    }
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #ul-nav li {
        display: inline-block;
        margin-left: 1rem;
    }
    #ul-nav {
        display: block;
        text-align: right;
        background-color: transparent;
        position: static;
        padding: 0;
    }
    nav button{
        display: none;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #ul-nav li {
        margin-left: 3rem;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}